<% layout('Boilerplate/boilerplate') -%>


<div class="container">
    <div class="row">
        
        <div class="col-8 offset-2">
            <h1 class="mt-3 text-primary">Add New</h1>
            <hr>
            <form method="post" action="/users">
                <div class="mb-3">
                    <label for="name"  class="form-label">Name</label>
                    <input  type="text" name="name" id = "name" placeholder="Enter The Name" class="form-control" >
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" name="content" id="content" rows="3" placeholder="Enter the Content"></textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="adhar">Adhar</label>
                    <input class="form-control" name="adhar" type="text" id="adhar" placeholder="Enter the Adhar Number" >
                  </div>
                  <button class="btn btn-danger">Submit</button>
                  
            </form>
        </div>
    </div>
</div>